.image{
height:50px;
}
.dropdown {
margin-left:60%;
}
.moviename{
	color:white;
}
.certified{
	color:red;
    margin-left:4%;    
}
.date{
	color:red;
}
.top_heading_details{
	display:flex;
	color:white;
}